/*utility section*/






/*hero section*/



.hero-section{
    min-height:100vh;
    max-height:100vh;
    width:100vw;
    background: var(--main-color);
}

.hero-section .right-part{
    height:100vh;
    flex:2;
    background-color: white;
}
.absolute-img{
    position:absolute;
    top:5vh;
    right:0;
    height:20vw;
    width: auto;
}





/*media query*/

@media (max-width:768px) {
    .hero-section .right-part .right-illustration-one{
    width: 80%;
    }

}
@media (max-width:425px) {
    .left-part{
        padding:var(--gap-med);
        grid-gap:var(--gap-min);
    }
    .left-part h1,.left-part p{
        width: 100%;
    }
    .hero-section .right-part{
        display: none;
    }
}

@media (max-width:320px){
    .left-part{
        grid-gap:var(--gap-min);
    }
}