.menu-icon{
    position: fixed;
    height: 75px;
    width:75px;
    background-color: black;
    z-index:20;
    border-radius: 50%;
    cursor: pointer;
}

.menu-icon img{
    height: auto;
    max-width: 50%;
    filter: invert(1);
}
.menu-section{
    position:fixed;
    height: 0;
    width:0vw;
    max-height: 100vh;
    background-color: var(--main-color);
    grid-gap: var(--gap-max);
    /* padding:var(--gap-max); */
    z-index: 10;
    transition:height 0.5s,width 0.5s;
}

.menu-section .menu-list{
    opacity: 0;
    list-style:none;
    grid-gap:var(--gap-med);
    flex:3;
    box-sizing: content-box;
    padding:0;
    transition: opacity 0.5s;
}

.menu-list li{
    transition:background-color 0.5s,color 0.5s;
    padding:var(--gap-min);
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.menu-list li:hover{
    background-color: black;
    color:var(--main-color);
}
.menu-section .lower-half{
flex:2;
opacity: 0;
transition: opacity 0.5s;
}


@media (max-width:768px) {
    .menu-section .menu-list{
        grid-gap: var(--gap-min);
    }
}

@media (max-width:425px) {
    .menu-icon{
        height:50px;
        width:50px;
        bottom:var(--gap-min);
        right:var(--gap-min);
    }
}